@import url(reset.css);

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #D3D3D3; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


#canvas { 
    margin-top: 60px;
    background-color: white;
    border-radius: 12px;
    width: 700px;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.controls .controls__colors {
    display: flex;
}

.controls .controls__color {
    margin: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.controls button {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 60px;
    height: 20px;
    margin: 10px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 40px;
    font-weight: bold;
    line-height: 3px;
}

.controls button:active {
    transform: scale(0.85);
}

.maker {
    position: absolute;
    bottom: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.controls .controls__range {
    margin-top: 20px;
}

.controls .controls__color:active {
    transform: scale(0.80);
}

.colormenubar {
    display: flex;
    position: absolute;
    top: 2px;
    right: 20px;
}


.colormenubar .menu__color {
    margin: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}

.colormenubar .menu__color:active {
   transform: scale(0.7);
}

.bar {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: darkslategrey;
}

